{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.published }} by {{ post.author }}
    </p>
    {{ post.body|linebreaks }}
    <p>
      <a href="{% url "blog:poat_share" post_id %}">
        Wyślij ten post
      </a>
    </p>
{% endblock %}
