{% extends "blog/base.html" %}

{% block title %} Mój Blog {% endblock %}

{% block content %}
    <h1>Mój Blog</h1>
    {% for post in posts %}
       <h2>
           <a href="{{ post.get_absolute_url }}">
            {{ post.title }}
           </a>
        </h2>
        <p class="date">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
    {% include "pagination.html" with page=posts %}
    {% if tag %}
      <h2>Post otagowany"{{ tag.name }}"
    {% endif %}

    <p class="tags">
      Tagi:
      {% for tag in post.tags.all %}
        <a href="{% url "blog:post_list_by_tag" tag.slug %}"
          {{ tag.name }}
      {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
{% endblock %}
