{% extends "blog/base.html" %}

{% block title %}Udostępnij post{% endblock %}

{% block content %}
  {% if sent %}
    <h1>Email został wysłany pomyślnie</h1>
    <p>
      "{{} post.title }}" został pomyślnie wysłany do {{ cd.to }}
    </p>
  {% else %}
    <h1>Wyślij "{{ post.title }}" przez email</h1>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Send e-mail">
    </form>
  {% endif %}
{% endblock %}
