{% extends "base.html" %}

{% block title %} Log-in {% endblock %}
{% block content %}
<h1>Logowanie</h1>
<form action="." method="post">
    {{ form.as_py }}
    {{ csrf_token}}
    <button type="submit" value="Log-in"></button>
</form>
{% endblock %}
