{% extends "base.html" %}
{% block title %} Log-in {% endblock %}
{% block content %}
<h1>Logowanie</h1>
{% if fotm.errors %}
<p> Logowanie nie powiodło się proszę sprubować ponownie. </p>
{% andif %}
<div class="login-form">
<form cation="{% url 'login' %}" method="post">
{{ form.as_p }}
{% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <p><input type="submit" value="Log-in"></p>
</form>
</div>
{% endblock %}
