{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title%} {% endblock %}</title>
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <div id="sidebar">
        <h2>Mój Blog</h2>
        <p>To jest mój Blog.</p>
    </div>    
</body>
</html>
